.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#button{ 
  text-align: center; 
  }

#img_food1{
  text-align: center;
}

#img_food2
{
  text-align: center;
}

#img_food3{
  text-align: center;
}

#review{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%
}

.container{
  display:flex; 
  flex-wrap: wrap; 
  margin-left: 27.5%; 
  margin-right: 27.5%;
}

#map{
  width: 400px; 
  height: 400px; 
  float:left; 
  margin-right: 2.5%;
}

#info_1{
  width: 400px; 
  height: 400px; 
  display:inline-block;  
  margin-left: 2.5%; 
  float:left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
