@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    font-family: 'Nanum Gothic', sans-serif;
}
.title{
    width: 250px;
    margin-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
}
.mb-3{
    padding-top: 50px;
    width: 700px;
    margin: auto;
}
#see{
    margin-top: 30px;
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}
.review-go{
    display: block;
    width: 200px;
    margin: auto;
}
#in{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
#bt2{
    width: 100px;
    text-align:center;
    display: block;
    margin: auto;
}
.jwfbbd{
    font-size: 14px;
    width: 80%;
    display: block;
    margin: auto;
}
#button-addon2{
    display: block;
    margin: auto;
}
#subtitle{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
#bt2{
    margin-top: 20px;
    margin-bottom: 50px;
}

#loginCard{
    margin: auto;
    width: 1000px;
}